<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/db5b58bf59.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href=".css" />
</head>

<body>
    
    <header>
    </header>
    <main>
      <div class="container mt-2">
  	<div class="row">
    	<div class="mx-auto">
    	     <h1>Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>! </h1>
    	 </div>
    	 </div>
    	 </div>